<!DOCTYPE html>
<html {% block html_attribs %} lang="pt_BR"{% endblock %}>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}This is an example page{% endblock %}
</head>
<body>

{% block content %}
        <li>{{ user.id }}</li>  
        <li>{{ user.name }}</li>  
        <li>{{ user.email }}</li> 
        <li>{{ user.profile.photo }}</li>
        <a href="{{ url_for('delete', id=user.id)}}">Deletar</a>          
     </ul>   
{% endblock %}

</body>

</html>