

<!DOCTYPE html>
<html {% block html_attribs %} lang="pt_BR"{% endblock %}>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}This is an example page{% endblock %}
</head>
<body>

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}
{% block content %}
    <ul>
    {% for user in users %}
        <li><a href="{{ url_for('unique', id=user.id)}}">{{ user.name }}</a></li>         
    {% endfor %}     
    </ul>   
{% endblock %}

</body>

</html>